<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>greetings</title>
    <link rel="stylesheet" href="css/waiter.css">
</head>

<body>

    <div class="container">

        {{!-- <h1 class="success"> {{messages.success}}</h1> --}}
        <h1>Mary' S Cafée~~~</h1>

    <div class="green">
        <h4 class="green">Enough Waiters</h4>
    </div>
    <div class="orange">
        <h4 class="orange">More Waiters are neede</h4>
        </div>
        <div class="red">
        <h4 class="red">Too much waiters</h4>
        </div>


<a href="/clear"><button class="btn"type = "button">reset</button></a>

        
        {{!-- <form action="/days" method="POST"> --}}
        <table>
    
                <tr>
                    {{#each days}}
                    <th style="color: {{this.color}}; ">{{this.days}}</th>
                    {{/each}}
                </tr>

   
                <tr>
                    {{#each days}}
                    <td style="color: {{this.color}}">
                    {{#each this.names}}
                    <ul>
                        <li>{{this.names}}</li>
                    </ul>
                    {{/each}}
                    </td>
                   {{/each}}
                </tr>
</table>
   <button type="button"><a href="/">back</a></button>          {{!-- </form> --}}
 <div class="pass">
        <h3>
            {{messages.pass}}
        </h3>
    </div><br>

    </div>
    </div>

