<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>greetings</title>
	<link rel="stylesheet" href="css/waiter.css">
</head>

<body>
	
<div class="container">
    <h1>{{this.names}}hello</h1>
    <br>
    <h3>Days you want to work on</h3>
    <br>


    <form action="/waiters/{{username}}" method="POST">


        {{#each weekday}}
        <input type='checkbox' name='day' class='days' value="{{this.days}}">
        <span class='label-body'>{{this.days}}</span>

        {{/each}}
        <button type="submit" class="btn btn-light btn mt-3 " name="submitShifts">submit shifts</button>

    </form>
    <div class="error">
        <h3>
            {{messages.error}}
        </h3>
    </div>
    <button><a href="/">back</a></button>



</div>